<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <input type="email" required autofocus id="login" class="fadeIn second" placeholder="E-mail" [formControl]="emailControl">
    <input type="password" required id="password" class="fadeIn third" placeholder="Contraseña" [formControl]="passwordControl">
    <input type="button" class="fadeIn fourth" value="Iniciar sesión" (click)="Login()">

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/']">Olvidó su contraseña?</a>
    </div>

  </div>
</div>
