<h2 class="header center">Iniciar sesión</h2>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" id="icon" alt="User Icon" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Login Form -->
      <input type="email" required autofocus id="login" class="login fadeIn second" placeholder="E-mail" formControlName="username">
      <input type="password" required id="password" class="login fadeIn third" placeholder="Contraseña" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Iniciar sesión" [disabled]="!loginForm.valid">
     </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/']">Olvidó su contraseña?</a><br />
      <a class="underlineHover" [routerLink]="['/loginAdmin']">Eres administrador?</a>
    </div>

</div>
</div>
